*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
header .container{
    padding:  20px 0px;
}
header .container h1{
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}
header .container p{
    color: red;
}